<div class="col-xs-12 col-sm-4 col-lg-3 col-md-5 pd-b">
	{{content.field_icon.0}} 
	<h3 class="counter numscroller"
	 data-min='1'
	 data-max='{{content.field_counts.0}}'
	 data-delay='30' 
	 data-increment='10' >
	 {{content.field_counts.0}}</h3>
	<h4>{{content.field_sub_title.0}}</h4>
</div>