
    <!-- Banner -->
    <section class="banner" style="background-image:url({{content.field_background_image.0}})">
        <div class="container">
          <div class="row">
            <div class="col-md-8 banner-content">
              <h1 class="animated fadeInUpBig">{{content.field_title.0}}</h1>
              <p class="animated fadeInDownBig">
                {{content.field_description.0}}
              </p>
              {{ render_block('SCTL_multipurpose_breadcrumbs') }}
            </div>
          </div>
        </div>
    </section>
    <!-- Banner End --> 