<div class="item">
  <img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
     class="img-fluid" 
     alt="{{ content.field_image['#items'].alt }}" 
     title="{{ content.field_image['#items'].title }}">
</div>