
    <section id="blog" class="blog-details blog-sidebar">
    	<div class="container">
    		<div class="row">
          <div class="col-md-9 col-lg-9 mx-auto text-center title-section">
              <h2 class="title">{{content.field_title.0}}</h2>
              <p>{{content.field_description.0}}</p>
          </div>  
		       <div class="col-lg-8 col-md-7 co-sm-12 col-xs-12">
              {{content.field_blog_view}}
			     </div>
            <div class="col-lg-4 col-md-5 co-sm-12 col-xs-12">
                <div class="sidebar">
                    {{content.field_sidebar}}
                </div>
            </div>
    		</div>
    	</div>
    </section> 
