  <!-- Our-Team -->
<section id="our-team">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-9 mx-auto text-center title-section wow fadeInUp" data-wow-delay="0.3s">
          <h2 class="title">{{ content.field_title.0 }}</h2>
          <p>{{content.field_description.0}}</p>
        </div>  
      </div>
      <div class="row wow fadeInDown" data-wow-delay="0.6s">
        {{content.field_team_member}}
       </div>
   </div>
</section>