
    <!-- clients-count -->
    <div id="clients-count" class="wow fadeInDown" data-wow-delay="0.6s" style="background-image:url({{content.field_background_image.0}})">
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-xs-12 col-sm-12 col-lg-4 col-md-12 pd">
                {{content.field_counter_title.0}}
              </div>
              {{content.field_counter}}
            </div>
        </div>
    </div>
    <!-- clients-count end-->
