{# {% set createdDate = created|date('Y-m-d') %}
{% set createdTime = created|date('H:i:s') %}
 #}
 
  <div class="comment-item">
      {{user_picture}}
      <h5>{{ author }}</h5>
      <span>
      	{{created}}
	  </span>
      {{content}}
  </div>