<div class="item">
  <div class="blog-box">
    <div class="hovereffect blogimage">
      <a href="{{fields.view_node.content}}">
      	{{fields.field_image.content}}
      </a>
    </div>
    <div class="blog-caption">
      <h3><a href="{{fields.view_node.content}}">{{fields.title.content}}</a></h3>
    </div>
  </div>
</div>