<div class="item">
	<div class="testimonial-caption">
	  {{fields.field_image.content}}
	  <h4>{{fields.title.content}}</h4>
	  <span>{{fields.field_member_designation.content}}</span>
	</div> 
	<p>{{fields.field_member_description.content}}</p>  
</div>